# pixi environments
.pixi
*.egg-info
.snakemake

**/__pycache__/*
**/*.pyc
/Executables/FIAT_executable
/Executables/SFINCS_executable
Data/all_drivers.csv
Data/skew_surge_tides.csv
fitted_stats/2d_sims.csv
fitted_stats/3d_sims.csv
fitted_stats/4d_sims.csv
fitted_stats/5d_sims.csv
fitted_stats/6d_sims.csv
fitted_stats/compound_given_ss.csv
fitted_stats/emperical_tide.csv
fitted_stats/extreme_rate.txt
fitted_stats/historical_eventset.csv
fitted_stats/precipitation.json
fitted_stats/precipitation_dur.json
fitted_stats/precipitation_lag.json
fitted_stats/skew_surge.json
fitted_stats/surge_dur.json
fitted_stats/training_2d.csv
fitted_stats/training_6d.csv
/Notebooks/4.Active_learning/2d_multi
/Notebooks/4.Active_learning/2d_single
/Notebooks/4.Active_learning/2d_sub
/Notebooks/4.Active_learning/3d_multi
/Notebooks/4.Active_learning/3d_single
/Notebooks/4.Active_learning/4d_multi
/Notebooks/4.Active_learning/4d_single
/Notebooks/4.Active_learning/5d_multi
/Notebooks/4.Active_learning/5d_single
/Notebooks/4.Active_learning/6d_multi
/Notebooks/4.Active_learning/6d_single
/Models/2d_all
/Models/6d_all
/Models/MDA_2d
/Models/TGP_2d_multi
/Models/TGP_2d_single
/Models/TGP_2d_sub
/Models/TGP_3d_multi
/Models/TGP_3d_single
/Models/TGP_4d_multi
/Models/TGP_4d_single
/Models/TGP_5d_multi
/Models/TGP_5d_single
/Models/TGP_6d_multi
/Models/TGP_6d_single
/Notebooks/5.Experiment/1b.TGP_accuracy/0
/Notebooks/5.Experiment/1b.TGP_accuracy/1
/Notebooks/5.Experiment/1b.TGP_accuracy/10
/Notebooks/5.Experiment/1b.TGP_accuracy/2
/Notebooks/5.Experiment/1b.TGP_accuracy/3
/Notebooks/5.Experiment/1b.TGP_accuracy/4
/Notebooks/5.Experiment/1b.TGP_accuracy/5
/Notebooks/5.Experiment/1b.TGP_accuracy/6
/Notebooks/5.Experiment/1b.TGP_accuracy/7
/Notebooks/5.Experiment/1b.TGP_accuracy/8
/Notebooks/5.Experiment/1b.TGP_accuracy/9
/Notebooks/5.Experiment/1b.TGP_accuracy
/Notebooks/Additional/stop_crit/2d
/Notebooks/Additional/stop_crit/6d
